nav ul{
    display: inline-flex;
   float: right;
   margin-right: 15px;
}
nav ul li{
    list-style: none;
    
    

}
ul.buttons li button{
    height: 40px;
    width: 140px;
    border-radius: 5%;
    border-width: 1px;
    border-color: gray;
}
ul.buttons li{
list-style: none;
padding-left: 20px;

}

.google{
    margin-top: 150px;
    margin-left: 550px;
}
.input-form{
    display: flex;
    
    justify-content:center;
    padding-top: 10px;
    padding-bottom: 20px;
    
    
}
.language{
    display: flex;
    
    justify-content:center;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
   
    
}

input#search{
    width: 600px;
    
    height: 49px;
    border-radius: 50px;
    border-width: 1px;
    border-color: gray;
}
 span.material-symbols-outlined{
    position: absolute;
    margin-left: 87px;
    padding-top: 10px;
} 
.material-symbols-rounded{
    position: absolute;
    padding: 10px;
    margin-left: 550px;
   
   

    /* margin-left: 87px;
    padding-top: 10px; */
}
.buttons{
    display: flex;
    
    justify-content:center;
    

}
div.location{
    
    margin-top: 11.9%;
}
p.country{
    padding-top: 10px;
    padding-left: 40px;
}
footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}

div.foot-links{
  
    border-top: 2px solid grey;
}
div.foot-links ul li{
    display:inline-flex;
    padding-right: 30px;
    text-decoration: none;
    color:black;
    
}
div.foot-links ul li a{
    
    text-decoration: none;
    color:black;
}

a.carbon{
    justify-content: center;
    
}
a.right{
    float: left;
}